    * {
    box-sizing: border-box;
    }

    body {
        background-color: lightblue;
    }
    #webpage {
        background-color: black;
        width: 70%;
        margin-left: 20%;
    }

    #header {
    background-color: orange;
    background-repeat: round;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
    height: 100%;
    text-align: center;
    }

    #purplesmoke {
        background-color: black;
        background-attachment: fixed;
        padding: 0;
        max-height: 100%;
        float: left;
        width: fit-content;
    }

    #purplesmoke2 {
        background-color: black;
        background-attachment: fixed;
        padding: 0;
        max-height: 100%;
        float: right;
        width: fit-content;
    }

    #gametitle {
        text-align: center;
        font-size: 300%;
        position: absolute;
        z-index: 2;
        width: 100%;
        color: palevioletred;
    }

    h1 {
        position: absolute;
        z-index: 2;
        margin-left: 50%;
        margin-right: 50%;
    }

    #background {
        background-color: yellowgreen;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        z-index: 0;
        clear: both;
        width: 100%;
        height: 100%;
        position: relative;
    }

    #outsetisland {
        object-fit: fill;
        height: 100%;

    }

    .chuchus {
        position: absolute;
        width: 100%;
        bottom: 5%;
        height: 40%;
    }

    #greenchuchu {
        float: left;
        clear: left;
        width: 25%;
        bottom: 15%;

        
    }
    
    #redchuchu {
        float: left;
        width: 25%;
        
    }

    #bluechuchu {
        float: left;
        width: 25%;
        
    }

    #darkchuchu {
        float: left;
        width: 25%;
        
    }

    #instbox {
        width: 100%;
        height: 50%;
        overflow: hidden;
        position: relative;
    }

    #woodpanel {
        width: 100%;
        height: 50%;
        z-index: 0;
        overflow: hidden;
    }

    #instructions {
        color: lightgray;
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 5%;
    }