* {
    box-sizing: border-box;
}

    #webpage {
    max-height: 100%;
    width: 100%;
}

#header {
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    max-height: 100%;
    max-width: 100%;
    margin-left: 50%;
    margin-right: 50%;
    overflow: auto;
    clear: both;
}

    #purplesmoke {
        height: 100%;
        width: 100%;
        position: absolute;
        margin-left: 50%;
        margin-right: 50%;
        object-fit: cover;
    }

    h1 {
    position: absolute;
    z-index: 2;
    margin-left: 50%;
    margin-right: 50%;
}

    /*#background {
    margin-top: 15%;
    width: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 0;
    clear: both;
}