body, html {
    height: 100%;
    width: 100%;
}

.header {
    font-size: 200%;
    color: seagreen;
    height: 15%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
h1 {
    position: absolute;
    z-index: 2;
    margin: auto;
    
}


.background {
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    z-index: 0;
}